<footer class="footer">
  <span class="todo-count">
    <strong>{{this.todoData.incomplete.length}}</strong>
    {{if this.todoData.todoCountIsOne "todo" "todos"}}
    left
  </span>

  <ul class="filters">
    <li>
      <LinkTo @route='index'>All</LinkTo>
      <LinkTo @route='active'>Active</LinkTo>
      <LinkTo @route='completed'>Completed</LinkTo>
    </li>
  </ul>

  <button type="button" class="clear-completed" {{on 'click' this.todoData.clearCompleted}}>
    Clear Completed
  </button>
</footer>